<ion-header style="height: 0px;opacity: 0;">
    <ion-toolbar>

    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <ion-grid>
        <ion-row>
            <ion-col color="dark">
                <ion-text class="ion-text-center">
                    <h1>{{(accion==='nuevo')?'Agregar nuevo objeto':'Actualizar Objeto'}}</h1>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <form #forma="ngForm">
            <ion-row>
                <ion-col>
                    <ion-radio-group required [value]="objeto.estado" name="estado" #estado="ngModel" [(ngModel)]="objeto.estado">
                        <ion-item color="dark">
                            <ion-label>Activo</ion-label>
                            <ion-radio color="success" slot="end" value="Activo"></ion-radio>
                        </ion-item>
                        <ion-item color="dark">
                            <ion-label>Perdido</ion-label>
                            <ion-radio color="danger" slot="end" value="Perdido"></ion-radio>
                        </ion-item>
                        <ion-item color="dark">
                            <ion-label>Encontrado</ion-label>
                            <ion-radio color="tertiary" slot="end" value="Encontrado"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item mode="ios" color="dark">
                        <ion-label position="stacked">Nombre</ion-label>
                        <ion-input minlength="3" required name="nombre" #nombre="ngModel" [(ngModel)]="objeto.nombre" [color]="(nombre.errors?.required || nombre.errors?.minlength)?'danger':'success'"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item mode="ios" color="dark">
                        <ion-label position="stacked">Descripción</ion-label>
                        <ion-input minlength="3" required name="descripcion" #descripcion="ngModel" [(ngModel)]="objeto.descripcion" [color]="(descripcion.errors?.required || descripcion.errors?.minlength)?'danger':'success'"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-text class="ion-text-center">
                        <h5>Fotos</h5>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-slides [options]="(accion!=='modificar')?slideSoloOpts:[]">
                <ion-slide class="image-slide" [style]="('./assets/img/image-add.png')|domSanitizer:'local'" *ngIf="getFotosFiltradas().length===0">
                    <ion-button class="aparecer" color="primary" fill="solid" shape="round" mode="ios" (click)="nuevaImagen()">
                        Agregar
                        <ion-icon slot="start" name="add-circle-sharp"></ion-icon>
                    </ion-button>
                </ion-slide>
            </ion-slides>
            <ion-slides *ngIf="fotos.length>0" #slidePrincipal>
                <ion-slide *ngFor="let foto of getFotosFiltradas(); let i=index;" class="image-slide" [style]="(foto.img)|domSanitizer:foto.tipo:(this.objeto._id||'')">
                    <ion-button class="aparecer" color="primary" fill="solid" shape="round" mode="ios" (click)="nuevaImagen()" *ngIf="i===0">
                        Agregar
                        <ion-icon slot="start" name="add-circle-sharp"></ion-icon>
                    </ion-button>
                    <ion-button class="aparecer" color="danger" fill="solid" shape="round" mode="ios" (click)="eliminarImagen((foto.tipo==='objeto')?foto.index:i)">
                        Eliminar
                        <ion-icon slot="start" name="add-circle-sharp"></ion-icon>
                    </ion-button>
                </ion-slide>
            </ion-slides>
            <ion-row class="ion-margin-top">
                <ion-col class="ion-text-center">
                    <ion-button color="primary" shape="round" mode="ios" [disabled]="!forma.valid" (click)="accionObjeto()">
                        {{(accion==='nuevo')?'Agregar':'Actualizar'}}
                        <ion-icon slot="start" [name]="(accion==='nuevo')?'add-circle-sharp':'save'"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col class="ion-text-center">
                    <ion-button color="danger" shape="round" mode="ios" (click)="salir()">
                        Cancelar
                        <ion-icon slot="start" name="close-circle"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>